.Guitarist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 100%;
    top: 100px;
}

.formDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
}

.GuitaristInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 100px;
    width: 100%;
}

.Guitarist-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    width: 50%
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.artistParagraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
}

.Guitarist-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Guitarist-photo img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .info {
        justify-content: center;
    }

    .Guitarist-info {
        align-self: center;
    }
}

@media screen and (max-width: 900px) {
    .info {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .GuitaristInfo {
        margin-top: 50px;
        align-items: center;
        justify-content: center;
    }

    .Guitarist-info {
        width: auto;
        align-items: flex-start;
        justify-content: center;
        align-self: flex-start;
        margin-left: 5%;
    }

    .Guitarist-photo {
        align-self: flex-start;
    }

    .artistParagraph {
        width: 90%;
    }

    .info img {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .formDiv {
        width: 90%;
    }
}

