.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
}

.spacer {
    padding-bottom: 700px;
}

.Home {
    display: flex;
    width: 100%;
    margin-bottom: 200px;
}

.appInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.display-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid white;
    border-radius: 8px;
    margin: 6px;
    flex-basis: 23%;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.display p {
    width: 60%;
    text-align: center;
}

.display h3 {
    font-size: 2rem;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.photos {
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
}

.dark {
    font-size: 1.2rem;
    color: #6b818c;
    font-weight: 100;
}

.light {
    line-height: 1.8rem;
    width: 60%;
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10%;
}

.information h1 {
    font-size: 3.5rem;
    color: white;
    width: 60%;
    text-align: center;
    margin-top: -2%;
}

.btn-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.btn-login {
    background-color: #6b818c;
    padding: 15px 20px;
    border-radius: 6px;
    border: 1px solid #6b818c;
    width: 160px;
    font-size: 1.1rem;
    margin-right: 10px;
}

.btn-register {
    padding: 16px 20px;
    width: 160px;
    border-radius: 6px;
    font-size: 1.1rem;
    background-color: #255c99;
    color: white;
    border: .5px solid #255c99;
    margin-left: 10px;
}

.btn-holder a {
    text-decoration: none;
    color: white;
}

.pic1 {
    border: 15px solid white;
    transform: rotate(5deg);
    margin-left: 50px;
    position: absolute;
}

.pic2 {
    border: 15px solid white;
    width: 270px;
    height: 330px;
    transform: rotate(-10deg);
    z-index: 1;
    position: absolute;
    top: 35%;
    left: 40%;
}

.pic3 {
    border: 15px solid white;
    width: 300px;
    height: 330px;
    transform: rotate(3deg);
    z-index: 2;
    position: absolute;
    right: -10%;
}

.pic1 img, .pic3 img {
    height: 300px;
    width: 300px;
}

.pic2 img {
    height: 300px;
    width: 250px;
}

#noreg {
    margin-top: -25px;
}

@media screen and (max-width: 1024px) {
    .spacer {
        padding-bottom: 800px;
    }
}

@media screen and ( max-width : 900px) {
    .Home {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50%;
        margin-bottom: 500px;
    }

    .spacer {
        padding-bottom: 800px;
    }

    .information, .photos {
        width: 100%;
    }

    .photos {
        margin-top: 30%;
    }

    .pic2 {
        top: 20%;
    }
}

@media screen and (max-width: 823px) {
    .spacer {
        padding-bottom: 1100px;
    }
}

@media screen and (max-width: 768px) {
    .Home {
        margin-top: 80%;
        margin-bottom: 400px;
        margin-left: -15%;
    }

    .spacer {
        padding-bottom: 1000px;
    }

    .display {
        flex-basis: 45%;
    }
    .information {
        margin-left: 15%;
    }
}

@media screen and (max-width: 736px) {
    .spacer {
        padding-bottom: 1200px;
    }
}

@media screen and (max-width : 700px) {
    .information {
        margin-top: 15%;
        margin-left: 0%;
    }
    .photos {
        margin-top: 40%;
    }

    .pic1 img, .pic3 img {
        width: 200px;
        height: 200px;
    }

    .pic2 img {
        height: 250px;
        width: 150px;
    }

    .pic1, .pic3 {
        width: 200px;
        height: 230px;
    }

    .pic2 {
        width: 170px;
        height: 280px;
        top: -80px;
    }

    .pic3 {
        right: 5%;
    }

    .display {
        flex-basis: 45%;
    }

    .spacer {
        padding-bottom: 1000px;
    }

    .Home {
        margin-bottom: 300px;
    }
}

@media screen and (max-width: 667px) {
    .spacer {
        padding-bottom: 1300px;
    }

    .Home {
        margin-left: 0%;
    }
}

@media screen and (max-width:  640px) {
    .spacer {
        padding-bottom: 1300px;
    }

    .Home {
        margin-left: 0%;
    }
}

@media screen and (max-height: 600px) {
    .information {
        margin-top: 5%;
    }
}

@media screen and (max-width : 500px) {
    .information {
        margin-top: 30%;
    }

    .photos {
        margin-left: -10%;
    }

    .pic1 img, .pic3 img {
        width: 150px;
        height: 150px;
    }

    .pic2 img {
        height: 200px;
        width: 150px;
    }

    .pic1, .pic3 {
        width: 150px;
        height: 180px;
    }

    .pic2 {
        width: 120px;
        height: 230px;
        top: -80px;
        left: 35%;
    }

    .pic3 {
        right: 5%;
    }

    .pic1, .pic2, .pic3 {
        border: 10px solid white;
    }

    .display {
        flex-basis: 95%;
    }

    .spacer {
        padding-bottom: 2000px;
    }

    .Home {
        margin-left: 0%;
    }
}

@media screen and (max-width: 400px) {
    .information {
        margin-top: 80%;
    }

    .information h1 {
        width: 80%;
    }

    .light {
        width: 80%;
    }

    .spacer {
        padding-bottom: 1700px;
    }

    .display {
        flex-basis: 95%;
    }

    .Home {
        margin-top: 500px;
        margin-bottom: 250px;
        margin-left: 0%;
    }
}

@media screen and (max-width: 360px) {
    .spacer {
        padding-bottom: 1200px;
    }
}

@media screen and (max-width: 360px) {
    .spacer {
        padding-bottom: 1700px;
    }

    .display {
        flex-basis: 90%;
    }
}

@media screen and (max-width: 280px) {
    .Home {
        margin-left: 0%;
    }

    .Home h1 {
        font-size: 2.2rem;
    }
}
