html {
  box-sizing: border-box;
  height: 100vh;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #0c162e;
  color: white;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

code {
  
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 900px) {
  
  body {
    padding-top: 75px;
  }
}
