.parent2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    /* margin-top: 100px; */
}

.directions2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 25px;
    border: 1px solid white;
    border-radius: 8px;
    flex-basis: 35%;
    line-height: 1.6rem;
    margin-bottom: 5%;
    max-width: 90%;
}

.Metronome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 25px;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
                rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    max-width: 90%;
    margin-top: -4%;
    position: relative;
    margin-bottom: 25px;
}

.Metronome-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border: 10px solid dodgerblue;
    background-color: lightgray;
}

.Metronome-btn {
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    font-size: 2rem;
    width: 36.5%;
    border: 1px solid dodgerblue;
    border-radius: 8px;
    cursor: pointer;
    touch-action: manipulation;
}

@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.8);
    }
    100% {
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
}


@media screen and (orientation: landscape) {
    .parent2 {
        margin-top: 200px;
    }

    .pulldown {
        overflow-y: auto;
    }

    .directions2 {
        z-index: 0;
    }
}

@media screen and (max-width: 1024px) {
    .Metronome {
        height: 495px;
    }
}

@media screen and (max-width: 900px) {
    .parent2 {
        flex-direction: column;
        margin-top: 200px;
    }

    .directions2 {
        margin-top: 200px;
        width: 95%;
    }

    .Metronome {
        width: 100%;
    }

    .Metronome-btn {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .parent2 {
        flex-direction: column;
        margin-top: -200px;
    }
}

@media screen and (max-width: 767px) {
    .parent2 {
        flex-direction: column;
        margin-top: 200px;
    }
}

@media screen and (max-width: 320px) {
    .parent2 {
        flex-direction: column;
        margin-top: 400px;
    }

    .directions2 {
        margin-top: 200px;
        width: 95%;
    }

    .Metronome {
        width: 100%;
    }

    .Metronome-btn {
        width: 50%;
    }
}

/* @media screen and (max-width: 823px) {
    .parent2 {
        padding-top: 200px;
    }

    .directions2 {
        margin-top: 400px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    .parent2 {
        padding-top: 0;
        margin-top: 50px;
    }

    .directions2 {
        margin-top: 0;
    }
}

@media screen and (max-width: 736px) {
    .parent2 {
        padding-top: 200px;
    }

    .directions2 {
        margin-top: 400px;
    }
}

@media screen and (max-width: 731px) {
    .parent2 {
        padding-top: 200px;
    }
}

@media screen and (max-width: 720px) {
    .parent2 {
        padding-top: 300px;
    }

    .directions2 {
        margin-top: 200px;
    }
}

@media screen and (max-width: 667px) {
    .parent2 {
        padding-top: 500px;
    }
}

@media screen and (max-width: 653px) {
    .parent2 {
        margin-top: 200px;
    }
}

@media screen and (max-width: 640px) {
    .parent2 {
        padding-top: 350px;
    }
}

@media screen and (max-width: 568px) {
    .parent2 {
        margin-top: 400px;
    }
}

@media screen and (max-width: 559px) {
    .parent2 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 540px) {
    .parent2 {
        margin-top: 200px;
    }
}

@media screen and (max-width: 500px) {
    .Metronome {
        width: 95%;
    }
    .Metronome-btn {
        width: 75%;
    }

    .ToggleSwitch {
        top: 0;
    }
}

@media screen and (max-width: 414px) {
    .parent2 {
        padding-top: 50px;
    }

    .directions2 {
        margin-top: 300px;
    }
}

@media screen and (max-width: 411px) {
    .parent2 {
        padding-top: 50px;
    }

    .directions2 {
        margin-top: 200px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 375px) {
    .parent2 {
        margin-top: 300px;
    }
    .Metronome {width: 100%;}
}

@media screen and (max-width: 330px) {
    .parent2 {
        margin-top: 600px;
    }

    .directions2 {
        margin-bottom: 25px;
    }
} */