.parent2 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    width: 100%;
}

.directions2 {
    align-items: flex-start;
    border-radius: 8px;
    border: 1px solid white;
    display: flex;
    flex-basis: 35%;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6rem;
    margin-bottom: 5%;
    max-width: 90%;
    padding: 25px;
}

.Metronome {
    align-items: center;
    border-radius: 8px;
    border: 1px solid lightgray;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
                rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: -4%;
    max-width: 90%;
    padding: 25px;
    position: relative;
    width: 50%;
}

.Metronome-circle {
    align-items: center;
    background-color: lightgray;
    border-radius: 50%;
    border: 10px solid dodgerblue;
    display: flex;
    height: 250px;
    justify-content: center;
    width: 250px;
}

.Metronome-btn {
    background-color: dodgerblue;
    border-radius: 8px;
    border: 1px solid dodgerblue;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    padding: 10px;
    touch-action: manipulation;
    width: 36.5%;
}

@keyframes pulse-animation {
    
    0% {
      box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.8);
  }
    100% {
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
}

@media screen and (orientation: landscape) and (max-width: 900px) {
    
    .parent2 {
        margin-top: 200px;
    }

    .pulldown {
        overflow-y: auto;
    }

    .directions2 {
        z-index: 0;
    }
}

@media screen and (max-width: 1080px) and (max-height: 810px) {
    
    .parent2 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 1024px) {
    
    .Metronome {
        height: 495px;
    }
}

@media screen and (max-width: 926px) and (max-height: 428px) {
    
    .parent2 {
        margin-top: 200px;
    }
}

@media screen and (max-width: 915px) and (max-height: 412px) {
    
    .parent2 {
        margin-top: 200px;
    }
}

@media screen and (max-width: 900px) {
    
    .parent2 {
        flex-direction: column;
        margin-top: 200px;
    }

    .directions2 {
        margin-top: 200px;
        width: 95%;
    }

    .Metronome {
        width: 100%;
    }

    .Metronome-btn {
        width: 50%;
    }
}

@media screen and (max-width: 800px) and (max-height: 1280px) {
    
    .parent2 {
        margin-top: -500px;
    }
}

@media screen and (max-width: 810px) and (max-height: 1080px) {
    
    .parent2 {
        margin-top: -300px;
    }
}

@media screen and (max-width: 768px) {
    
    .parent2 {
        flex-direction: column;
        margin-top: -200px;
    }
}

@media screen and (max-width: 767px) {
    
    .parent2 {
        flex-direction: column;
        margin-top: 200px;
    }
}

@media screen and (max-width: 720px) and (max-height: 540px) {
    
    .parent2 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 667px) and (max-height: 375px) {
    
    .parent2 {
        margin-top: 200px;
    }
}

@media screen and (max-width: 653px) and (max-height: 280px) {
    
    .parent2 {
        margin-top: 250px;
    }
}

@media screen and (max-width: 568px) and (max-height: 320px) {
    
    .parent2 {
        margin-top: 300px;
    }
}

@media screen and (max-width: 428px) and (max-height: 926px) {
    
    .parent2 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 414px) and (max-height: 896px) {
    
    .parent2 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 412px) and (max-height: 915px) {
    
    .parent2 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 375px) and (max-height: 812px) {
    
    .parent2 {
        margin-top: 100px;
    }
}

@media screen and (max-width: 375px) and (max-height: 667px) {
    
    .parent2 {
        margin-top: 250px;
    }
}

@media screen and (max-width: 360px) and (max-height: 800px) {
    
    .parent2 {
        margin-top: 100px;
    }
}

@media screen and (max-width: 360px) and (max-height: 760px) {
    
    .parent2 {
        margin-top: 100px;
    }
}

@media screen and (max-width: 320px) {
    
    .parent2 {
        flex-direction: column;
        margin-top: 400px;
    }

    .directions2 {
        margin-top: 200px;
        width: 95%;
    }

    .Metronome {
        width: 100%;
    }

    .Metronome-btn {
        width: 50%;
    }
}