nav {
    align-items: center;
    background-color: #0c162e;
    color: white;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}

nav h1 {
    font-size: 2rem;
    left: 0;
    margin-left: 20%;
    position: absolute;
}

nav img {
    height: 75px;
    left: 0;
    margin-left: 4%;
    padding: 5px;
    position: absolute;
    width: 75px;
}

nav i {
    cursor: pointer;
    display: none;
    font-size: 2rem;
    margin-right: 3%;
    position: absolute;
    right: 0;
}

#visibleNavUl {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 3%;
}

#visibleNavUl a {
    color: white;
    font-size: 1.1rem;
    margin-left: 35px;
    text-decoration: none;
}

#visibleNavUl a.active,
.pulldown a.active {
    border-radius: 16px;
    border: 3px solid gray;
    padding: 8px;
}

.pulldown a.active {
    margin-left: 5%;
}

#visibleNavUl a.active:hover,
.pulldown a.active:hover {
    background-color: gray;
}

.pulldown {
    background-color: #0c162e;
    height: 0%;
    position: absolute;
    top: 100%;
    transition: height .4s ease-out;
    width: 100%;
    z-index: 2;
}

.pulldown ul {
    align-items: flex-start;
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-left: -2.5%;
    z-index: 10;
}

.pulldown ul a {
    color: white;
    font-size: 2rem;
    padding: 20px;
    text-decoration: none;
}

@media screen and (max-width: 1150px) {
    
    .fas {
        display: block;
    }

    #visibleNavUl {
        display: none;
        margin-left: 0;
    }
    nav {
        height: 75px;
    }

    nav h1 {
        margin-left: 0;
        position: relative;
        text-align: center;
    }
}

@media screen and (max-width: 428px) and (max-height: 926px) {
    
    .pulldown ul {
        margin-top: -400px;
    }
}

@media screen and (max-height: 926px) and (orientation: landscape) {
    
    .pulldown {
        padding-top: 125px;
    }
    .pulldown ul a {
        font-size: 1rem;
    }

    .pulldown ul {
        margin-top: -10px;
    }
}

@media screen and (max-height: 915px) and (orientation: landscape) {
    
    .pulldown {
        padding-top: 125px;
    }
    .pulldown ul a {
        font-size: 1rem;
    }

    .pulldown ul {
        margin-top: 100px;
    }
}

@media screen and (max-height: 883px) and (orientation: landscape) {
    
    .pulldown {
        padding-top: -25px;
    }
    .pulldown ul a {
        font-size: 1rem;
    }

    .pulldown ul {
        margin-top: -150px;
    }
}

@media screen and (max-height: 760px) and (orientation: landscape) {
    
    .pulldown {
        padding-top: 25px;
    }
    .pulldown ul a {
        font-size: 1rem;
        padding-bottom: 0px;
    }

    .pulldown ul {
        margin-top: -200px;
    }
}

@media screen and (max-width: 568px) and (max-height: 320px) {
    
    .pulldown ul a {
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 375px) and (max-height: 667px) {
    
    .pulldown ul {
        margin-top: -100px;
    }
}

@media screen and (max-width: 360px) and (max-height: 640px) {
    
    .pulldown ul {
        margin-top: -100px;
    }
}

@media screen and (max-width: 280px) and (max-height: 653px) {
    
    nav h1 {
        font-size: 1.5rem;
    }
}
