.hide {
  height: 150px;
  width: 150px;
  opacity: 0;
  display: none;
}
  
.show1 {
  height: 150px;
  width: 150px;
  display: block;
  position: absolute;
  border: 1px solid tomato;
  text-align: center;
  border-radius: 8px;
  top: -100px;
  left: 0;
  opacity: 1;
  background-color: rgba(255, 99, 71, 0.6);
  color: white;
  cursor: pointer;
}

.show2 { 
  height: 150px;
  width: 150px;
  display: block;
  position: absolute;
  border: 1px solid tomato;
  border-radius: 8px;
  top: 0;
  right: 0;
  background-color: rgba(255, 99, 71, 0.7);
  color: white;
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 667px) {
  .show1,
  .show2 {
    background-color: rgba(255, 99, 71, 1);
  }
}