.hide {
  display: none;
  height: 150px;
  opacity: 0;
  width: 150px;
}
  
.show1 {
  background-color: rgba(255, 99, 71, 0.6);
  border-radius: 8px;
  border: 1px solid tomato;
  color: white;
  cursor: pointer;
  display: block;
  height: 150px;
  left: 0;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: -100px;
  width: 150px;
}

.show2 {
    background-color: rgba(255, 99, 71, 0.7);
    border-radius: 8px;
    border: 1px solid tomato;
    color: white;
    cursor: pointer;
    display: block;
    height: 150px;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
  }

@media screen and (max-width: 667px) {
  
  .show1,
  .show2 {
    background-color: rgba(255, 99, 71, 1);
  }
}