.RecordButton {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.success {
    color: lime;
}

.failure {
    color: red;
}

button {
    background-color: dodgerblue;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    margin-top: 10px;
    padding: 5px;
}