/* Toggle Switch CSS learned from https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8 */

.ToggleSwitch {
    position: absolute;
    top: 10px;
    right: 10px;
}

label {
    width: 60px;
    height: 34px;
    position: relative;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
    display: none;
}

.round {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  border-radius: 34px;
}

.round:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
    border-radius: 50%;
  }

  input:checked + .round {
    background-color: dodgerblue;
  }
  
  input:checked + .round:before {
    transform: translateX(26px);
  }

  /* @media screen and (max-width: 360px) {
    .parent {
      padding-top: 100px;
    }
  } */