.TunerNoteChoices {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -2%;
    width: 100%;
}

.TunerNoteChoices-align {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width: 330px) {
    
    .TunerNoteChoices {
        margin-left: 0;
    }
}